.BirthDayCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;   
    width: 70vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.BirthDayCount:hover{
    background-color: rgb(218, 255, 227);
}

.BirthDayCountHeading{
    margin: 1rem;
    /* Text shadow */
    font-family: 'Courier New', Courier, monospace;
}