.BirthDayCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;   
    /* Border Shadow */
    box-shadow: 10px 10px 20px rgb(7, 7, 0);
    width: 70vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcyan;
}

.BirthDayCount:hover{
    background-color: cyan;
}

.BirthDayCountHeading{
    margin: 1rem;
    /* Text shadow */
    font-family: 'Courier New', Courier, monospace;
}